@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    opacity: 75%;
    font-family: 'Raleway', sans-serif;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
  }